# Yomu Git Ignore

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Environment & secrets
.env

# Generated logs
logs/
*.log

# Android Build Artifacts
android/app/build/
android/.gradle/
android/local.properties
android/captures/
.externalNativeBuild/
.cxx/

# Sync/Copy Artifacts in Android Project
# 我们不提交安卓 assets 下的文件，因为它们是从根目录同步过去的
android/app/src/main/assets/

# Build Output
build_output/
*.apk

# Web/Node
node_modules/
package-lock.json

# OS files
.DS_Store
Thumbs.db
